<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>글쓰기</h2>
    <form action="/topic" method="post">
      <input type="text" name="title" /><br />
      <textarea name="description"></textarea><br />
      <input type="submit" />
    </form>
  </body>
</html>
