html
    head
    body
        h1 Hello Jade
        ul
            li itemA
            li itemB
            li itemC
        div.user
        div.user.btn
        div#user                                       
        p hello <em>world</em> 