html
    head
    body
        h1 Hello pug
        a(href="http://www.google.com") Google
        br
        input(type='checkbox' name='agreement' value = '동의') 
        input(type='checkbox' name='reject' value = "거절")           
        div(class='div-class', '(onClick)'='play()') 


 

