doctype html
html
  head
    style
      include style.css
  body
    h2= 'Delete? '+member.name + '님 탈퇴하겠습니까'
    form(action='/delete/'+member.idx method='post')
      input(type='submit' value='YES')
    a(href='/'+member.idx) NO